* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    /* max-width: 1200px; */
    min-width: 100%;
    margin: 0 auto;
    padding: 1%;
}

/* nav bar start */
.navbar-brand {
    width: 30%;
}

.navbar-brand h3 {
    color: #000;
}

.navbar-brand .logo-letters {
    font-size: 22px;
    border-bottom: 3px solid #000;
    border-radius: 20px;
    padding: 10px 2px;
    color: #ff4757;
}

.navbar-nav li a {
    color: #ff4757;
    float: none;
    font-weight: 600;
}

.navbar-nav li a:hover {
    color: #ff6b81;
}

.navbar-nav .create {
    background-color: #ff4757;
    color: #fff;
    padding: 10px 60px;
    border-radius: 30px;
    font-weight: 600;
    margin: 3px 3px;
}

.navbar-nav .create:hover {
    background-color: #ff4757;
    color: #000;
}

/* navbar end */


/* login || create account section start */
.modal-header h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #2f3542;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-header h1::after {
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #000;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: .3s;
    color: #fff;
}

.btn-close:hover {
    outline: 0;
    color: #fff;
    /* background: red; */
    font-weight: bold;
}

.modal-body {
    border-top: none;
}

.modal-body .mb-3 {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.modal-body input,
.modal-body select {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    margin-left: 10px;
}

.modal-body input:focus {
    outline: none;
}

.modal-body .mb-3 i {
    margin-left: 15px;
    color: #999;
}


.button-field {
    display: flex;
    width: 100%;
    justify-content: center;
}

.already button {
    margin-left: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    text-decoration: underline;
    color: #ff4757;

}

.button {
    flex-basis: 48%;
    background: #ff4757;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    transition: ease-in .3s;
    cursor: pointer;
}
/* login end */

.food-search {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
    /* margin-left: -10px; */
}

.food-search .container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 50%;
}

.food-search form {
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.food-search input[type="search"] {
    width: 100%;
    margin: 0 auto;
    padding: 7px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.food-search .btn {
    background-color: #ff4757;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.food-search .btn:hover {
    color: white;
    background: #ff4757;
}
.summary-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.summary-boxes .box{
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* food-search end */

/* categories */
.categories {
    padding: 5% 0;
    /* background-color: #f8f9fa; */
}

.float-container {
    position: relative;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}

.float-text {
    position: absolute;
    bottom: 5px;
    left: 40%;
    color: #fff;
    font-weight: 600;
}

.img-responsive {
    width: 100%;
    height: 400px;
    /* min-width: 300px; */
}

.h3 {
    font-size: 1.5rem;
}

.head {
    font-weight: bold;
}

/* categories end*/

.food-menu {
    background-color: #ececec;
    padding: 5% 0;
    margin-left: -10px;
}

.food-menu-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.food-menu-box {
    width: 47%;
    margin: 1%;
    padding: 2%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
}

.food-menu-img {
    width: 100px;
    height: 100px;
    float: left;
}

.food-menu-img img {
    width: 120px;
    height: 140px;
}

.food-menu-desc {
    width: 140%;
    float: left;
    margin-left: 10%;
}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail {
    font-size: 1rem;
    color: #747d8c;
}

.add {
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.button {
    flex-basis: 48%;
    background: #ff4757;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    transition: ease-in .3s;
    cursor: pointer;
}

.add:hover {
    color: #000;
}

.see-more {
    color: #ff4757;
    position: relative;
    top: 1%;
    left: 45%;
    transform: translateX(-50%);
}

/* food menu end */

/* shopping cart */
.shopping-carts {
    position: fixed;
    bottom: 130px;
    right: 30px;
    z-index: 1000;
}

.shopping-carts .number {
    position: absolute;
    top: -14px;
    right: -5px;
    padding: 3px 7px;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
}

.btn-create {
    padding: 30px 30px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-create:hover {
    background-color: #0056b3;
}

.modal-dialog.custom-width {
    max-width: 68%;
}

.custom-modal-height .modal-content {
    height: 90vh;
    overflow-y: auto;
}

.shop {
    border-top: 0;
}

.shop table {
    width: 100%;
    text-align: center;
}


.shop table thead th {
    padding: 5px 30px;
    text-transform: capitalize;
}

.shop table tbody tr {
    border-bottom: 1px solid #ddd;
}

.shop table tbody tr td {
    padding: 10px 30px;
    text-wrap: nowrap;
    text-align: center;
}

.shop table tbody .flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.shop table tbody tr td img {
    width: 70px;
    height: 80px;
    border-radius: 10px;
}

.shop table tbody tr .quantity {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* margin-top: -50px; */
}

.shop table tbody tr .quantity input {
    width: 50px;
    margin: 0px;
    text-align: center;
    height: 40px;
    border: 1px solid #ddd;
    /* border: 1px solid rgba(0, 0, 0, 0.301); */
}

.shop table tbody tr .quantity button {
    padding: 5px;

    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.shop table tbody tr td #delete {
    color: #CD5C5C;
    font-size: 20px;
}

.shop table tbody tr td #delete:hover {
    color: #FF6347;
    font-size: 24px
}

.total {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin: 10px 30px;
    font-size: 18px;
}

.total .subtotal-number {
    font-weight: bold;

}

#cart-iframe {
    width: 200%;
    height: auto;
}

.modal-footer {
    width: 320px;
    margin: 20px auto;
}

.modal-footer .btn {
    padding: 10px 30px;
    background: #ff4757;
    border-radius: 30px;
    color: #ffff;
    font-weight: 600;
    transition: .3s;
}

.modal-footer .btn:hover {
    color: #000;

}


/* cart start */
.cart .mb-2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.cart .mb-2 .image img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.food-name {
    font-weight: bold;
    font-size: 27px;
}

.food-price {
    font-size: 24px;
}

.description {
    font-style: oblique;
}

.quantity {
    font-weight: 600;
    font-size: 18px;
}

.number {
    font-size: 20px;
    font-weight: 600;
}

.sign {
    background: #333;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.minus {
    margin-left: 30px;
}

.plus {
    margin-right: 30px;
}

.mb-2 .total-price {
    font-weight: bold;
    font-size: 21px;
}
/* cart end */

/* social start */
.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    padding: 1%;
}

/* social end */

/* checkout start */
.checkout-header {
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}
.checkout-header::after {
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
}

.check-out .containers {
    background: #fff;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.main-checkout {
    width: 100%;
    display: flex;
    gap: 2%;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
}
.customer-details {
    width: 45%;
    padding-top: 10px;
}

.mb-2 label {
    font-weight: 600;
}
.mb-2 input ,
.mb-2 select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
}
.food-details {
    margin: 20px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 20px;
    height: auto;
    width: 48%;
    text-align: center;
}

.food-details header {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.food-details table {
    width: 100%;
    text-align: center;
}

.food-details table thead th {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;

}

.food-details table tbody tr td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.food-details table tbody tr .flex {
    display: flex;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
}

.other-pay {
    margin: 10px 70px;
}

.other-pay .flex {
    display: flex;
    justify-content: end;
    align-items: center;

}

.edit-btn {
    background: #ff4757;
    padding: 10px 30px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.edit-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.checkout-btn {
    margin-top: 20px;
    width: 100%;
    background: #ff4757;
    text-align: center;
    padding: 8px 17px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}


/* screen  */
@media only screen and (max-width: 768px) {
    .navbar-brand {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .navbar-brand h3 {
        font-size: 20px;
    }

    .navbar-nav .create {
        padding: 10px 30px;
        width: 100%;
    }

    .food-search form {
        flex-direction: row;
    }

    .food-search input[type="search"] {
        width: 100%;
        margin: 0 auto;
        padding: 7px 10px;
        font-size: 1rem;
        border-radius: 5px;
    }

    .categories {
        padding: 5% 0;
    }

    .box-3{
        width: 80%;
        float: none;
        margin: 6% auto;
    }
    .food-menu-box {
        width: 100%;
        margin: 2%;
        padding: 2%;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
    }

    .food-menu-img {
        width: 100px;
        height: 120px;
        float: left;
    }

    .food-menu-desc {
        width: 140%;
        float: left;
        margin-left: 10%;
    }
    .modal-dialog.custom-width {
        max-width: 100%;
    }

    .shop table thead th {
        padding: 5px 1px;
        text-transform: capitalize;
    }
    .shop table tbody tr td {
        padding: 10px 2px;
        text-align: center;
    }
    .check-out .containers{
        width: 90%;
    }
    .main-checkout {
        display: block;
        /* flex-direction: column; */
        gap: 20px;
        padding-top: 30px;
    }
    .customer-details {
        width: 50%;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .food-details{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .mb-2 input,
    .mb-2 select {
        width: 200%;
    }
    .food-details table thead th {
        padding: 10px 10px;
    }

    .food-details table tbody tr td {
        padding: 10px 10px;
        text-wrap: nowrap;
    }

    .food-details table tbody tr .flex {
        display: flex;
        align-items: right;
    }

    .other-pay {
        margin: 10px 10px;
    }

    .other-pay .flex {
        display: flex;
        gap: 10%;
        text-wrap: nowrap;
        justify-content: space-between;
    }

}